body{
	background-color: #ddd;
	font-size: 17px;
}
b#IQUEENSL1266, b#IBURNETT2, b#IQUEENSL61, b#IQUEENSL48{
	color: red;
	font-size: 14px;
}
.weather-container{
	width: 1100px;
	height: 800px;	
	margin: auto;
	background-size: 100% 100%;
	margin-top: 100px;
	padding: 40px;
}
div.current-temperature{
	font-size: 17px;
	font-weight: bold;
	color: blue;
	margin-left: 30px;
}
.td-title{
	font-weight: bold;
}
.map-table td{
	padding-right: 10px;
	padding-left: 10px;
}
.map-table tr{	
	/*border-top: 0px !important;*/
}
.table{
	margin-bottom: 0px;	
}
.station-name{
	font-size: 20px;
}
label{
	margin-left: 4px;
	margin-right: 4px;	
}
.gm-style-iw p{
	margin-bottom: 2px;
}
.conditionBox{
	width: 580px;
	height: 280px;
	background-image: url("../assets/background.png");
	background-size: 100% 100%;
	margin:auto;
}
.container-box{
	padding-top: 100px;
	color: white;
}
.wind font{
	font-size: 13px;
}
.conditionBox .station-name{
	font-size: 18px;
	color: white;
	margin-top: 6px;
	text-shadow: 1px 1px 1px black;
}
.conditionBox .box-temperature{
	font-size: 20px;
	color:red;
	text-shadow: 1px 1px 1px black;
}
.conditionBox .rain-last{
	padding-left:40px; 
}
.conditionBox .wind-gust{
	margin-left: 43px;
}
.conditionBox .date{
	color:#a3f441;
	font-weight: bold;
	text-shadow: 2px 2px 2.5px black;
	font-size: 16px;
}
.conditionBox p{
	margin-bottom: 0px;
	margin-left: 2px;
}
.conditionBox{
	font-size: 14px;
}
.conditionBox label{	
	color:blue;
	text-shadow: 0.5px 0.5px 0.5px white;
}
.container-box #IBURNETT2,.container-box #IQUEENSL61,.container-box #IQUEENSL48{
	width: 190px;
	display: inline-block;
}/*
.wind-graph-container{
	width: 300px !important;
	height: 100px !important;
	border: solid black 1px;
}
.barometer-graph-container{
	width: 300px !important;
	height: 100px !important;
	border: solid black 1px;	
}*/